<div class="col-xs-4 col-sm-4">
    {{#if showTags}}
        <h3>Tags</h3>
        <div class="taglist pre-scrollable">
            {{#each tags}}
                <a href="/tag/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
            {{/each}}
        </div>
    {{/if}}
    {{#if showUsers}}
        <div class="userlist pre-scrollable">
            <h3>Users</h3>
            {{#each users}}
                <a href="/user/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
            {{/each}}
        </div>
    {{/if}}
    {{#if showDocs}}
        <div class="doclist pre-scrollable">
            <h3>Documents</h3>
            {{#each documents}} <!-- TODo: we are punting to Topic display -->
                <a href="/topic/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
            {{/each}}
        </div>
    {{/if}}
    {{#if showTranscludes}}
        <div class="transcludelist pre-scrollable">
            <h3>Transclusions</h3>
            {{#each transcludes}} <!-- TODo: we are punting to Topic display -->
                <a href="/topic/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
            {{/each}}

        </div>
    {{/if}}
</div> <!-- /col 4 -->
