<div class="container"><h1></h1>
    <ul id="myConTree">
    </ul>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#topic">Topic</a></li>
    <li><a data-toggle="tab" href="#list">List View</a></li>
    <li><a data-toggle="tab" title="Conversations in which I am a child node" href="#cconv">C-Conversation</a></li>
    <li><a data-toggle="tab" href="#relations">Connections</a></li>
    <li><a data-toggle="tab" href="#source">Source</a></li>
</ul>
<!-- ViewFirst data -->
<div class="vfpage" query="{{query}}" language="{{language}}" type="{{type}}"
     contextLocator="{{contextLocator}}" locator="{{locator}} rootLocator="{{rootLocator}}"></div>

<div class="tab-content">
    <div id="topic" class="tab-pane fade in active">
        <div class="row">
            <div class="home col-xs-8 col-sm-8 ">
                <img src="{{lIco}}" >
                <h2>{{label}}</h2>
                <p class="blog-post-meta">
                    <div class="userref">
                        <a href="/user/{{userid}}">{{username}}</a>&nbsp;&nbsp;{{date}}<br/>
                    </div>
                    <div class="urlref"><a href="{{url}}">{{url}}</a></div>
                </p>
                <div class="body pre-scrollable span12" style="border: 1px solid #e1e1e8; resize:both;overflow: auto;">
                    {{{details}}}
                </div>
                {{#if isAuthenticated}}
                    <hr><br/><br/>
                    <h3> Activities</h3>
                    <!-- reply buttons -->
                    <p>
                        <a href="/conversationtransclude/{{locator}}"><button type="submit" class="btn btn-btn-success btn-small">Transclude</button></a>
                        <a href="/conversationtranscludeevidence/{{locator}}"><button type="submit" class="btn btn-btn-success btn-small">Transclude as Evidence</button></a><br />
                    </p>
                    <p>
                        <table border="1">
                            <tr>
                                <td>
                                    <a href="/newquestion/{{locator}}?contextLocator={{context}}"><button type="submit" class="btn btn-btn-success btn-small"><img title="New Question" src="/images/ibis/issue.png"></button></a>
                                </td>
                                <td>
                                    <a href="/newanswer/{{locator}}?contextLocator={{context}}"><button type="submit" class="btn btn-btn-success btn-small"><img title="New Answer" src="/images/ibis/position.png"></button></a>
                                </td>
                                <td>
                                    <a href="/newpro/{{locator}}?contextLocator={{context}}"><button type="submit" class="btn btn-btn-success btn-small"><img title="New Pro Argument" src="/images/ibis/plus.png"></button></a>
                                </td>
                                <td>
                                    <a href="/newcon/{{locator}}?contextLocator={{context}}"><button type="submit" class="btn btn-btn-success btn-small"><img title="New Con Argument" src="/images/ibis/minus.png"></button></a>
                                </td>
                                <td>
                                    <a href="/newreference/{{locator}}?contextLocator={{context}}"><button type="submit" class="btn btn-btn-success btn-small"><img title="New Reference Link" src="/images/ibis/reference.png"></button></a>
                                </td>

                            </tr>
                        </table>
                    </p>
                {{/if}}
            </div> <!-- /col 8 -->
            <div class="col-xs-4 col-sm-4">
                {{#if showTags}}
                    <h3>Tags</h3>
                    <div class="taglist pre-scrollable">
                        {{#each tags}}
                            <a href="/tag/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}
                    </div>
                {{/if}}
                {{#if showUsers}}
                    <div class="userlist pre-scrollable">
                        <h3>Users</h3>
                        {{#each users}}
                            <a href="/user/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}
                    </div>
                {{/if}}
                {{#if showDocs}}
                    <div class="doclist pre-scrollable">
                        <h3>Documents</h3>
                        {{#each documents}} <!-- TODo: we are punting to Topic display -->
                            <a href="/topic/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}
                    </div>
                {{/if}}
                {{#if showTranscludes}}
                    <div class="transcludelist pre-scrollable">
                        <h3>Transclusions</h3>
                        {{#each transcludes}} <!-- TODo: we are punting to Topic display -->
                            <a href="/topic/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}

                    </div>
                {{/if}}
            </div> <!-- /col 4 -->
        </div> <!-- /row -->
    </div> <!-- /topic -->
    <div id="list" class="tab-pane fade">
        <div class="blog-post col-xs-7">
            <img src="{{lIco}}" >
            <h2>{{label}}</h2>
           <p class="blog-post-meta">
                <div class="userref">
                    <a href="/user/{{userid}}">{{username}}</a>&nbsp;&nbsp;{{date}}<br/>
                </div>
                <div class="urlref"><a href="{{url}}">{{url}}</a></div>
            </p>
            <div class="body pre-scrollable span12" style="border: 1px solid #e1e1e8; resize:both;overflow: auto;">
                {{{details}}}
            </div>
            <div class="transclude"></div>
            <div class="col-xs-4 col-sm-4">
                {{#if showTags}}
                    <h3>Tags</h3>
                    <div class="taglist pre-scrollable">
                        {{#each tags}}
                            <a href="/tag/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}
                    </div>
                {{/if}}
                {{#if showUsers}}
                    <h3>Users</h3>
                    <div class="userlist pre-scrollable">
                        {{#each users}}
                            <a href="/user/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}
                    </div>
                {{/if}}
                {{#if showDocs}}
                    <h3>Documents</h3>
                    <div class="doclist pre-scrollable">
                        {{#each documents}} <!-- TODo: we are punting to Topic display -->
                            <a href="/topic/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}
                    </div>
                {{/if}}
                {{#if showTranscludes}}
                    <h3>Transclusions</h3>
                    <div class="transcludelist pre-scrollable">
                        {{#each transcludes}} <!-- TODo: we are punting to Topic display -->
                            <a href="/topic/{{lox}}"><img src="{{sIco}}"> {{label}}</a><br/>
                        {{/each}}

                    </div>
                {{/if}}
            </div>
        </div>
    </div> <!-- /list -->
    <div id="cconv" class="tab-pane fade">
        <div class="ccontable pre-scrollable" style="border: 1px solid #e1e1e8;"></div>
    </div> <!-- /cconv -->

    <div id="source" class="tab-pane fade">
        <div class="sourcecode">{{source}}</div>
    </div>
    <div id="relations" class="tab-pane fade">
        <h1>Connections</h1>
        <div class="newreln"></div>
        <div class="relationlist"></div>
    </div>
</div>
